version: '3.8'
services:
  keycloak-importer:
    image: alpine:3.20
    container_name: keycloak_importer
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - REALM=plant-growth
      - KEYCLOAK_URL=http://keycloak:8080
    volumes:
      - ./keycloak-init/:/opt/keycloak/data/import/
    entrypoint: >
      /bin/sh -c "
        apk add --no-cache curl jq;
        chmod +x /opt/keycloak/data/import/import-keycloak-api.sh;
        /opt/keycloak/data/import/import-keycloak-api.sh
      "
    networks:
      - document-management-net

  flyway:
    image: flyway/flyway:9
    container_name: flyway
    entrypoint: [ "bash" ]
    environment:
      - FLYWAY_CONNECT_RETRIES=10
      - FLYWAY_BASELINE_VERSION=0
    command: >
      -c "
        /flyway/flyway -configFiles=/flyway/keycloak/conf/flyway-ddl.conf -user=keycloak -password=keycloak -baselineOnMigrate="true" migrate;
        /flyway/flyway -configFiles=/flyway/keycloak/conf/flyway-master-data.conf -user=keycloak -password=keycloak -baselineOnMigrate="true" migrate;
        /flyway/flyway -configFiles=/flyway/keycloak/conf/flyway-test-data.conf -user=keycloak -password=keycloak -baselineOnMigrate="true" migrate;
      "
    volumes:
      - ./flyway-migration-files/keycloak:/flyway/keycloak:ro
    networks:
      - document-management-net

networks:
  document-management-net:
    external: true
    name: document-management-net
